@tailwind base;
@tailwind components;
@tailwind utilities;

/* 防止页面因padding|margin出现滚动 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

#root {
  height: 100vh;
  margin: 0;
}


/* 自定义组件样式 */

.p-fieldset .p-fieldset-legend {
  padding: 1rem;
  border-radius: 10px;
}

.p-fieldset .p-fieldset-content {
  padding: 0;
}